@import "../../../css/constant";
:host{
  display: block;
  margin: 15px;
}
.content{
  display: flex;
  justify-content: space-between;
}
.map{
  width: 300px;
  height: 150px;
  background: @main-background-color;
}