doctype html
html(lang='en')
    head
        title Bike-Atlas

        meta(name="viewport" content="width=device-width, initial-scale=0.8, user-scalable=no", property="og:image")

        link(rel="shortcut icon" href="src/img/icon.png" type="image/png")
        base(href="/")
        //link(rel="stylesheet" href="./dist/app/css/index.css")
        //script(src='node_modules/core-js/client/shim.min.js')
        script(src='node_modules/zone.js/dist/zone.min.js')
        script(src='node_modules/reflect-metadata/Reflect.js')
        script(src='node_modules/systemjs/dist/system.js')
        script(src='systemjs.config.js')
        script.
            System
                    .import(['dist/app/css/index.css','lib/mapbox-gl/mapbox-gl.css', 'app'])
                    .catch(function(err){ console.error(err); });
        script.
            window.fbAsyncInit = function () {
            FB.init({
              appId: '1963056210650118',
              cookie: true,
              xfbml: true,
              version: 'v2.8'
            });
            FB.AppEvents.logPageView();
            };

            (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
              return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        style.
            my-app {
                font-family: Geneva, Arial, Helvetica, sans-serif;
                opacity: 0;
                transition: .2s ease-out;
                transition-delay: 0.2s;
            }



body
        my-app
            .prelaoder
                .loading Loading...
                .ico-z
