doctype html
html(lang='en')
    head
        title Atlas A2

        meta(name="viewport" content="width=device-width, initial-scale=0.7, user-scalable=no", property="og:image")

        link(rel="shortcut icon" href="src/img/icon.png" type="image/png")
        base(href="/")
        link(rel="stylesheet" href="lib/mapbox-gl/mapbox-gl.css")
        //script(src='node_modules/core-js/client/shim.min.js')
        script(src='node_modules/zone.js/dist/zone.min.js')
        script(src='node_modules/reflect-metadata/Reflect.js')
        script(src='node_modules/systemjs/dist/system.js')
        script(src='systemjs.config.js')
        script.
            System.import('app').catch(function(err){ console.error(err); });
        style.
            * {
                margin: 0;
                padding: 0;
                font-family: Geneva, Arial, Helvetica, sans-serif;

            }
            li{
                list-style-type: none;
            }
            table{
                border-spacing: 0;
            }
            table tr td{
                border-collapse: collapse;
                border: none;
                border-spacing: 0;
            }
            html, body{
                width: 100%;
                height: 100%;
            }
            .gray{
                color: darkgray;
            }
            .clear, .border-hidden {
                float: none!important;
                clear: both!important;
                border-bottom: 1px solid transparent;
                margin-top: -1px;
            }

            /* Base for label styling */
            [type="checkbox"]:not(:checked),
            [type="checkbox"]:checked {
                position: absolute;
                left: -9999px;
            }

            [type="checkbox"]:not(:checked) + label,
            [type="checkbox"]:checked + label {
                position: relative;
                padding-left: 25px;
                cursor: pointer;
                padding-top: 5px;
            }

            /* checkbox aspect */
            [type="checkbox"]:not(:checked) + label:before,
            [type="checkbox"]:checked + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 2px;
                width: 17px;
                height: 17px;
                border: 1px solid #aaa;
                background: #f8f8f8;
                border-radius: 3px;
                /*box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3)*/
            }

            /* checked mark aspect */
            [type="checkbox"]:not(:checked) + label:after,
            [type="checkbox"]:checked + label:after {
                content: '✔';
                position: absolute;
                top: 3px;
                left: 4px;
                font-size: 18px;
                line-height: 0.8;
                color: #09ad7e;
                transition: all .2s;
            }

            /* checked mark aspect changes */
            [type="checkbox"]:not(:checked) + label:after {
                opacity: 0;
                transform: scale(0);
            }

            [type="checkbox"]:checked + label:after {
                opacity: 1;
                transform: scale(1);
            }

            /* disabled checkbox */
            [type="checkbox"]:disabled:not(:checked) + label:before,
            [type="checkbox"]:disabled:checked + label:before {
                box-shadow: none;
                border-color: #bbb;
                background-color: #ddd;
            }

            [type="checkbox"]:disabled:checked + label:after {
                color: #999;
            }

            [type="checkbox"]:disabled + label {
                color: #aaa;
            }

            /* accessibility */
            [type="checkbox"]:checked:focus + label:before,
            [type="checkbox"]:not(:checked):focus + label:before {
                border: 1px dotted blue;
            }

body
        my-app Loading...
