doctype html
html(lang='en')
    head
        title Atlas A2

        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="shortcut icon" href="src/img/icon.png" type="image/png")
        base(href="/")
        link(rel="stylesheet" href="lib/mapbox-gl/mapbox-gl.css")
        //script(src='node_modules/core-js/client/shim.min.js')
        script(src='node_modules/zone.js/dist/zone.min.js')
        script(src='node_modules/reflect-metadata/Reflect.js')
        script(src='node_modules/systemjs/dist/system.js')
        script(src='systemjs.config.js')
        script.
            System.import('app').catch(function(err){ console.error(err); });
        style.
            * {
                margin: 0;
                padding: 0;
                font-family: Geneva, Arial, Helvetica, sans-serif;

            }
            li{
                list-style-type: none;
            }
            table{
                border-spacing: 0;
            }
            table tr td{
                border-collapse: collapse;
                border: none;
                border-spacing: 0;
            }
            html, body{
                width: 100%;
                height: 100%;
            }
    body
        my-app Loading...
