doctype html
html(lang='en')
    head
        title Вело атлас
        link(rel="shortcut icon" href="src/img/T.png" type="image/png")
        base(href="/")
        script(src='node_modules/core-js/client/shim.min.js')
        script(src='node_modules/zone.js/dist/zone.js')
        script(src='node_modules/reflect-metadata/Reflect.js')
        script(src='node_modules/systemjs/dist/system.src.js')
        script(src='systemjs.config.js')
        script.
            System.import('app').catch(function(err){ console.error(err); });
        style.
            * {
                margin: 0;
                padding: 0;
            }
    body
        my-app Loading...
