
<div class="content">
  <div>
    <div (click)="onClose()" class="close">&times;</div>
    <div class="row">
      <p>Devices</p>
    </div>
    <div class="row">
      <div *ngFor="let device of deviceList; let i = index;" [ngClass]="{'selected': device === deviceSelected}"   (click)="onSelectDevice(device)" class="flex vertical-center pointer devices" >

        <img [src]="device.image || imgPrefix + 'img/speedway_4_logo.jpg' "  class="logo"/>
        <p  >{{device.name}}</p>
      </div>
    </div>
    <div class="row">
      <div class="title-row">
        <p></p>
        <div class="steps">
          <div (click)="stepGo(-1)" class="back btn">&#9668;</div>
          <div class="date">{{selectDate | date: 'dd/MM/yyyy'}}</div>
          <div (click)="stepGo(1)" class="forward btn">&#9658;</div>
        </div>
      </div>
    </div>
    <div class="scroll">
      <div *ngFor="let item of list; let i = index;" class="row">
        <div>
          <one-track [track]="list[i]"></one-track>
        </div>
      </div>
    </div>
  </div>
</div>