div.content
    div
        .close((click)="onClose()") &times;
        .row
            p
                | В разработке
        .row
            one-track([track]="list[0]")
            one-track([track]="list[1]")
           // one-track()

