div.content
    div
        .close((click)="onClose()") &times;
        .row
            .title-row
                p
                    | В разработке
                .steps
                    .back.btn((click)="stepGo(-1)") &#9668;
                    .date {{selectDate | date: 'dd/MM/yyyy'}}
                    .forward.btn((click) = "stepGo(1)") &#9658;
        .scroll
            .row(*ngFor="let item of list; let i = index;")
                one-track([track]="list[i]")

