div.content
    div
        div
            .close((click)="onClose()") &times;
        .row
            .flex-cell.gray
                | В разработке *
        .flex.center.row.space-between
            .flex-cell
                .ico-strava

            //.flex-cell Авторизация

        .flex.row.center(*ngIf="authInProgress")
            .flex-cell
                | Авторизация..
            .flex-cell
                .ico-z
        .flex.row.center(*ngIf="firstName")
            table.athlete
                tr
                    td(rowspan='3')
                        img.profile([src]="profile")
                    td FirstName
                    td {{firstName}}
                tr
                    td LastName
                    td {{lastName}}
                tr
                    td City
                    td {{city}}


        .flex.flex-end
            .flex-cell
                .button.primary(*ngIf="code", (click)="goToAuth()") Авторизироваться повторно


