div.content
    div
        div
            .close((click)="onClose()") &times;

        .flex.center.row.space-between
            .flex-cell
                .ico-strava-text
        .flex.row.center(*ngIf="authInProgress")
            .flex-cell
                | Проверка авторизации..
            .flex-cell
                .ico-z

        .flex.row.center(*ngIf="athlete.firstName")
            table.athlete
                tr
                    td(rowspan='3')
                        img.profile([src]="athlete.profile")
                    td FirstName
                    td {{athlete.firstName}}
                tr
                    td LastName
                    td {{athlete.lastName}}
                tr
                    td City
                    td {{athlete.city}}

        table.strava
            tr
                td
                    label.flex-cell() ID клиента:
                td
                    input.input([(ngModel)]="stravaClientId", type='number', name="stravaClientId")
            tr
                td
                    label.flex-cell() Client Secret:
                td
                    input.input([(ngModel)]="stravaClientSecret", name="stravaClientSecret", type="password")
            //tr
                td
                    label.flex-cell() Code:
                td
                    |{{code}}

        .flex
            .flex-cell.gray(*ngIf="!docsFor.length") Нет фалов для отправки
            .flex-cell(*ngIf="docsFor.length") Для отправки кликни файл
        .flex
            .flex-cell(*ngFor="let track of docsFor\; let i = index" )
                .ico-routs(title="отправить", (click)="sendTrackToStrava(track)") {{track.date | date: 'dd/MM/yyyy'}}

        .flex.flex-end
            .flex-cell
                .button.primary(*ngIf="!authInProgress && !athlete.firstName")
                    a([ngClass]="{'blue':stravaClientId && stravaClientSecret}",  href="{{stravaHref}}", (click)="$event.preventDefault(); goToStrava()") Авторизироваться
                //.button.primary(*ngIf="code", (click)="stravaOauth()") Авторизацияjk


