div.content
    div
        div
            .close((click)="onClose()") &times;
        .row
            .flex-cell.gray
                | В разработке *
        .flex.center.row.space-between
            .flex-cell
                .ico-strava
        .flex.row.center(*ngIf="authInProgress")
            .flex-cell
                | Авторизация..
            .flex-cell
                .ico-z

        .flex.row.center(*ngIf="athlete.firstName")
            table.athlete
                tr
                    td(rowspan='3')
                        img.profile([src]="athlete.profile")
                    td FirstName
                    td {{athlete.firstName}}
                tr
                    td LastName
                    td {{athlete.lastName}}
                tr
                    td City
                    td {{athlete.city}}

        table.strava
            tr
                td
                    label.flex-cell() ID клиента:
                td
                    input.input([(ngModel)]="stravaClientId", type='number', name="stravaClientId")
            tr
                td
                    label.flex-cell() Client Secret:
                td
                    input.input([(ngModel)]="stravaClientSecret", name="stravaClientSecret")
            //tr
                td
                    label.flex-cell() Code:
                td
                    |{{code}}

        .flex.flex-end
            .flex-cell
                .button.primary(*ngIf="!code")
                    a([ngClass]="{'blue':stravaClientId && stravaClientSecret}",  href="{{stravaHref}}", (click)="$event.preventDefault(); goToStrava()") Авторизация
                .button.primary(*ngIf="code", (click)="stravaOauth()") Авторизацияjk


