div.content
    div
        .close((click)="onClose()") &times;
        .row
            p
                | {{'PROFILE' | translate}}
        .row.border
            .load-img
                img([src]="user.image || 'src/img/no-avatar.gif' ", (click)="onOpenImage()")
                .row {{user.name}}
                .row
                    p
                        input(type="checkbox" id="test1", [(ngModel)]="setting.lock", (ngModelChange)="saveLock(setting.lock)")
                        label(for="test1") Мой лог закрытый
                    .help(*ngIf="setting.lock") снять галочку  чтобы все пользователи вас видели онлайн, если вы не находитесь в приватной зоне
                    .help(*ngIf="!setting.lock") поставьте галочку чтобы запретить показ моего местоположения всем кроме друзей

                input(type="file" id="files" name="files[]" multiple="", style="display: none")
            .border-hidden
                div()
                    button.primary( style="float: right", (click)="onSave($event)") {{'ON_SAVE'| translate}}
            .border-hidden
        .border-hidden
