
<div class="content">
  <div>
    <div (click)="onClose()" class="close">&times;</div>
    <div class="row">
      <p>{{'PROFILE' | translate}}</p>
    </div>
    <div class="row border">
      <div class="load-img"><img [src]="user.image || 'img/no-avatar.gif' " (click)="onOpenImage()"/>
        <div class="row">{{user.name}}</div>
        <div class="row">
          <p>
            <input type="checkbox" id="test1" [(ngModel)]="setting.lock" (ngModelChange)="saveLock(setting.lock)"/>
            <label for="test1">Мой лог закрытый</label>
          </p>
          <div *ngIf="setting.lock" class="help">снять галочку  чтобы все пользователи вас видели онлайн, если вы не находитесь в приватной зоне</div>
          <div *ngIf="!setting.lock" class="help">поставьте галочку чтобы запретить показ моего местоположения всем кроме друзей</div>
        </div>
        <input type="file" id="files" name="files[]" multiple="" style="display: none"/>
      </div>
      <div class="border-hidden">
        <div>
          <button style="float: right" (click)="onSave()" class="primary">{{'ON_SAVE'| translate}}</button>
        </div>
      </div>
      <div class="border-hidden"></div>
    </div>
   <!-- <form #nameForm="ngForm">
      <div ngModelGroup="name" [ngClass]="{e: name.invalid}">
        <input type="text" name="name" [(ngModel)]="model.name" required #name="ngModel">

      </div>

    </form>-->
    <form  [formGroup]="passForm" name="passForm" autocomplete="off">
      <div  [ngClass]="{'has-error': passForm.get('currentPass').getError('invalidPassword')}">
        <label>Current pass</label>
        <input type="password" formControlName="currentPass" name="_oldPass">
      </div>
      <div [ngClass]="{'has-error': passForm.get('newPass').getError('invalidPassword')}">
        <label>New pass</label>
        <input type="password" formControlName="newPass" name="_newPass"   autocomplete="off"
               autocorrect="off"
               autocapitalize="none"
               spellcheck="false">
      </div>
      <div  [ngClass]="{'has-error': passForm.get('repeatNewPass').getError('invalidPassword')}">
        <label>Repeat</label>
        <input type="password" autocomplete="off" formControlName="repeatNewPass" name="_repeatPass">
      </div>
    </form>
    <div class="border-hidden">
      <div class="row">
        <button style="float: right" (click)="onChangePass()" [disabled]="passForm?.invalid" class="primary">{{'ON_SAVE'| translate}}</button>
      </div>
    </div>
    <div class="row error">
      {{passForm.get('repeatNewPass').getError('invalidPassword')}}
    </div>


    <!--<div>{{passForm.value|json}}</div>-->
    <!--<div> {{passForm.get('repeatNewPass').getError('invalidPassword')}}</div>-->
    <div class="row.border">

    </div>
    <!--.row.border
    //form([formGroup]='profileForm')
        input(formControlName="oldPass")
        div {{ profileForm.value | json }}
        div {{ profileForm.status | json }}
    -->
    <div class="border-hidden"></div>
  </div>
</div>