div.content
    div
        .close((click)="onClose()") &times;
        .row
            p
                | Профиль
        .row.border
            .load-img
                img([src]="user.image || 'src/img/no-avatar.gif' ", (click)="onOpenImage()")
                .row {{user.name}}
                .row
                    p
                        input(type="checkbox" id="test1", [(ngModel)]="setting.lock", (ngModelChange)="saveLock(setting.lock)")
                        label(for="test1") Мой лог закрытый
                    .help(*ngIf="setting.lock") снять галочку  чтобы все пользователи вас видели онлайн, если вы не находитесь в приватной зоне
                    .help(*ngIf="!setting.lock") поставьте галочку чтобы запретить показ моего местоположения всем кроме друзей

                input(type="file" id="files" name="files[]" multiple="", style="display: none")
            .border-hidden
                div()
                    button.primary( style="float: right", (click)="onSave($event)") Сохранить
            .border-hidden
        .row
            .flex-cell.gray
                | В разработке *
        .flex.center.row.space-between
            .flex-cell
                .ico-strava
            label.flex-cell() ID клиента
            .flex-cell
                input.input([(ngModel)]="stravaClientId", type='number', name="stravaClientId")
             .flex-cell
                 .button.primary
                    a([ngClass]="{'blue':stravaClientId, 'gray':!stravaClientId}",  href="{{stravaHref}}", (click)="$event.preventDefault(); goToStrava()") cвязать

        .border-hidden
