div.content
    div
        .close((click)="onClose()") &times;
        .row
            p
                | Профиль
        .row
            load-img
                img([src]="imageurl", (click)="onOpen()")
                .row {{name}}

                input(type="file" id="files" name="files[]" multiple="", style="display: none")
        .border-hidden