@import "../../css/constant";

.invite{
  font-size: 12px;
  float: right;
  cursor: pointer;
  text-align: right;
  margin-left: 20px;
  &.accept{
    color: @blue-color;
    font-weight: bold;
  }
  &.reject{
    color: gray;
  }
}
td{
  width: 33.3%;
  border-bottom: 1px solid #cfdcef;
  padding: 5px 0;
}
.users{
  overflow-y: auto;
}
table{
  width: 100%;
  td:nth-child(1){
    min-width: 50px;
    width: 20%;
  }
  td:nth-child(2){
    width: 20%;
    padding: 0 5px;
  }
  td:nth-child(3){
    min-width: 50px;
    width: 20%;
  }
}
img{
  width: 60px;
  height: 60px;
  display: block;
}
.ico-chat{
  width: 30px;
  height: 30px;
  background: url("./src/img/ico-chat.png") no-repeat center;
  background-size: 80%;
  cursor: pointer;
  position: relative;
  .ico-un-viewed{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    padding: 5px;
    font: 12px/6px sans-serif;
    font-size: 10px;
    background: @green-color;
  }
}
