h4 Все участники
table
    tbody
        tr(*ngFor="let user of allUsers\; let i = index")
            td
                include ../friends-component/img-container.jade
            td
                include ../friends-component/user-data-container.jade
            td
                .invite(*ngIf="!isFriend(user)")
                    template([ngIf]="!isInviteActive(user)" )
                        div((click)="sendInvite(user)") Отправть запрос
                    template([ngIf]="isInviteActive(user)")
                        div((click)="onCancelInvite(user)") Запрос отправлен (отменить)