@import "../../css/constant";

.invite{
  font-size: 12px;
  float: right;
  cursor: pointer;
  text-align: right;
  margin-left: 20px;
  &.accept{
    color: @blue-color;
    font-weight: bold;
  }
  &.reject{
    color: gray;
  }
}

td{
  width: 33.3%;
  border-bottom: 1px solid #cfdcef;
  padding: 5px 0;
}
.users{
  overflow-y: auto;
}
table{
  width: 100%;
}
img{
  width: 60px;
  height: 60px;
  display: block;
}
