div.content
    | Регистрация устройства
    .button-container
        div()
            button( style="float: right", (click)="onOk($event)") Ok
            button( (click)="onCancel($event)" ) Cancel