@color-button: rgba(255, 255, 255, 0.42);
@color-button-primary: rgb(0, 181, 44);
@color-button-press: rgba(177, 198, 208, 0.55);


.table{
  display: table;
}
.table-cell{
  display: table-cell;
}
.inline-block{
  display: inline-block;
}
.width-100{
  width: 100%;
}
.row{
  margin-left: -8px;

  &>div{
    margin: 5px;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input{
  padding: 5px;
  border: none;
  border-bottom: 1px solid darkgray;
  outline: none;
}
.border-bottom{
  border-bottom: 1px solid darkgray;
}
.padding-8{
  padding: 8px;
}
.vertical-middle{
  vertical-align: middle;
}
.bold{
  font-weight: bold;
}
button{
  padding: 5px 8px;
  background: @color-button;
  border: none;
  outline: none;
 // box-shadow: 0 0 2px gray;
  &:hover{
    box-shadow: 0 0 2px gray;
    background: white;
  }

}

.button-container{
  text-align: right;
  &>div{
    cursor: pointer;
    display: inline-block;
    padding: 5px 8px;
  }
}
.button{
  color: #4b4b4b;

  &.primary{
    color: @color-button-primary;
  }
  &:active{
    color: white;
    background-color: @color-button-press;
  }
}