*{
  margin: 0;
  font-family:  Geneva, Arial, Helvetica, sans-serif;
}


.root-head , .my-map{
  width:100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.my-map{
  z-index: 0;
}

.leaflet-control-container{
  .leaflet-top.leaflet-left{
    right: 0;
    left: inherit;
    &>.leaflet-control-zoom.leaflet-bar.leaflet-control{
      margin: 10px;
    }
  }
}
.footer-menu{
  position: absolute;
  bottom: 0;
}
.help-coordinate{
  .lat-lng-cell{
    min-width: 170px;
    color: #e5e5e5;
    text-shadow: 0 0 2px black, 0 0 2px black;
  }
}

.inline-block{
  display: inline-block;
}