*{
  margin: 0;
}
.leaflet-control-container{
  .leaflet-top.leaflet-left{
    right: 0;
    left: inherit;
    &>.leaflet-control-zoom.leaflet-bar.leaflet-control{
      margin: 10px;
    }
  }
}
.footer-menu{
  position: absolute;
  bottom: 0;
}
.help-coordinate{
  .lat-lng-cell{
    min-width: 200px;
  }
}
.inline-block{
  display: inline-block;
}