table
    tr
        td zoom: {{mapService.zoom}}
        td
            |bearing: {{mapService.bearing}}
        td
            |pitch: {{mapService.pitch}}

    tr
        td
            | Mouse
        td
            div lat: {{mapService.lat}}
        td
            div lng: {{mapService.lng}}
    tr
        td
            | Map
        td
            div lat: {{mapService.latMap}}
        td
            div lng: {{mapService.lngMap}}


