@menu-hover: #c6c8cb;
@main-menu-color: #e9ebee;
@main-border-color: #9ba8b2;
@main-text-color: #2d3134;
@danger-background: red;
@warning-background: #ffd263;
@success-background: #7ddc74;
@box-shadow: 1px 1px 3px rgba(0,0,0,0.4);

.button-container>div{
  float: right;
  margin-top: 15px;
  &:not(:first-child){

  }
  button{
    margin-left: 8px;
  };
}
.ul-li(){
  cursor: pointer;
  background-color:  rgba(255, 255, 255, 0.8);
  padding: 15px;
  min-width: 80px;
  &:hover{
    background-color: @menu-hover;
  }
}

button{
  padding: 8px 15px;
  border: none;
  background: white;
  border-radius: 2px;
  cursor: pointer;
  outline:none;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
  &:active{
    color: #999999;
    box-shadow: none;
  }
}