:host {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  mapbox-gl{
    display: block;
    width: 100%;
    height: 100%;

    .mapboxgl-popup-content{
      padding: 5px;
      font: 12px/12px  Geneva, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }
}
