ul
    li( *ngFor="let item of menu", (click)="onSelect(item\, $event, $this)")
        div {{item.text}}
        form(enctype="multipart/form-data" action="php/upload.php" method="POST", style="display: none")
            div Допускается *.gpx файл
            input(type="hidden" name="afile" value="30000")
            input(name="afile" id="file-select" type="file" style="display: none")
            button( (click)="onSelect($event)" ) Выбрать файл
    //button(type="submit", id="upload-button", value="Send File", (click)="onSubmit($event)") Отобразить
