div((click)="$event.stopPropagation();$event.preventDefault()")
    label Имя
    input(type="text")
    label Пароль
    input( type="password")
    .button-container
        div()
            button() Вход
    div(style="border-bottom: 1px solid transparent; clear: both;")
    p
        //a(routerLink="/auth/map/registration") Регистрация
        a((click)="goToReg()") Регистрация