div Список
div
    ul
        li( *ngFor="let track of list\; let i = index" ,  [style.background]="track.color")
            div {{i}}: {{track.distance}} km
            .download((click)="track.download()")
            .go( (click)="onGo(track)") &#9658;
            .del( (click)='hideTrack(track)') &#215;

