div Список
div
    ul
        li( *ngFor="let track of list\; let i = index" )
            .title
                .color([style.background]="track.color")
                .info {{i}}: {{track.distance}} km
                .del( (click)='hideTrack(track)') &#215;
            .action
                .download((click)="track.download()")
                .route-points((click)="track.showSrcPoint()")
                .go( (click)="onGo(track)") Play &#9658;


