
.relative
    .close((click)="onClose()") &times;
    .row.flex
        .flex-cell
            .button.primary([ngClass]="{active: active}", (click)='onAddActive($event)')  Добавиить
    .row.flex.marker-row.vertical-center(*ngFor="let m of myMarkerService.markerList ")
        .flex-cell.marker-cell([innerHtml]="m.scope.title || '&nbsp;'")
        .flex-cell
            menu-list-component([menu]="menu", [item]="m")