
<!--Created by maxislav on 16.08.16.
-->
<div style="padding:25px">
  <h1>{{title}}</h1>
  <h4>
    <label>id {{selectedHero.id}}</label>
    <div></div>
  </h4>
  <h4>
    <label>name: {{selectedHero.name}}</label>
    <div>
      <input [(ngModel)]="selectedHero.name" placeholder="name"/>
    </div>
  </h4>
  <h1></h1>
  <h4>
    <my-hero-detail [hero]="selectedHero"></my-hero-detail>
  </h4>
  <my-hero-list></my-hero-list>
  <ul>
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)"><span>{{hero.id}}</span><span>{{hero.name}}</span></li>
  </ul>
</div>