//
   Created by maxislav on 16.08.16.
div(style="padding:25px")
    h1 {{title}}
    h4
        label id
        div {{hero.id}}
    h4
        label name:
        div {{hero.name}}
        input([(ngModel)]="hero.name", placeholder='name')

