//
   Created by maxislav on 16.08.16.
div(style="padding:25px")
    h1 {{title}}
    h4
        label id {{selectedHero.id}}
        div
    h4
        label name: {{selectedHero.name}}
        div
            input([(ngModel)]="selectedHero.name", placeholder='name')
    h1
    h4
        my-hero-detail([hero]="selectedHero")
    ul
        li(*ngFor="let hero of heroes", (click)="onSelect(hero)")
            span {{hero.id}}
            span {{hero.name}}