div.content
    div
        .close((click)="onClose()") &times;
        .row
            .title-row
                p Response type: {{messageTypeString}}



        .scroll
            .row
                textarea([(ngModel)]="gtgbc", (ngModelChange)="gtgbcOnChange()")
         .row.flex.flex-end
             div.button.primary((click)='onApplyClick()') Apply