@import "../../css/constant";
:host{
  color: @main-text-color;
  background: @main-menu-color;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid @main-border-color;
}
.flex{
  display: flex;
  align-items: center;
}
.name{
  white-space: nowrap;
}

.un-viewed-ids{
  font-size: 10px;
  position: absolute;
  left: 5px;
  bottom: 5px;
  background-size: 100%;
  background: @orange-color;
  padding: 4px;
  font: 12px/6px sans-serif;
  text-align: center;
  border-radius: 50%;
}

table {
  height: 40px;
  width: 100%;
  td{
    height: 100%;
    padding: 0 15px;
    cursor: pointer;
    transition: background-color .1s;
    &.button{
      text-align: center;
      &:hover{
        background-color: @menu-hover;
      }
      &.menu{
        width: 80px;
      }
      &.enter{
        width: 60px;
        white-space: nowrap;
      }
    }
    .satellite{
      background: url("src/img/ico-router.png") no-repeat center;
      width: 30px;
      height: 30px;
      opacity: 0.8;
      background-size: auto 80%;
    }
    .routs{
      background: url("src/img/ico-routs.png") no-repeat center;
      width: 30px;
      height: 30px;
      opacity: 0.6;
      background-size: auto 80%;
    }
    &.icoUser{
      width: 40px;
      padding: 0;
      img{
        display: block;
        width: 34px;
        height: 34px;
      }
    }
    &.fill-space{
      //width: 100%;
    }
    &.weather{
      width: 40px;
      &.active{
        background-color: #afdced;
      }

      .weather-ico{
        width: 40px;
        height: 40px;
        background: url("src/img/ico-weather.png") no-repeat center;
        background-size: 80%;
      }
    }
    &.bell{
      padding: 0;
      width: 50px;
      background: url("src/img/friends.png") no-repeat center;
      background-size: 64%;
      position: relative;
      .num{
        font-size: 10px;
        position: absolute;
        right: 10px;
        bottom: 10px;
        background: greenyellow;
        padding: 4px;
        font: 12px/6px sans-serif;
        text-align: center;
        border-radius: 50%;
      }
    }
  }
}
@media screen and (max-width: 450px){

  table td.button.menu{
    width: 50px;
  }
  table td{
    padding: 0 5px;
  }
  .name{
    display: none;
  }
}
@media screen and (min-width: 450px){
  .ico{
    display: none;
  }
}