div.content
    div
        .close((click)="onClose()") &times;
        users-container
            .row
                p Приватные зоны (в разработке..)
            .row
                div.button.add((click)="onDrawArea()") Добавить
            .border-hidden