div.content
    form(name='reg',  (submit)="onSubmit($event)")
        label Имя
        input(type="text" name='_name', [(ngModel)]="name")
        label Пароль
        input( type="password", name='_pass', [(ngModel)]="pass1")
        label Пароль
        input( type="password", name='_pass', [(ngModel)]="pass2")
        .button-container
            div()
                button( style="float: right", (click)="onOk($event)") Ok
                button( (click)="onCancel($event)" ) Cancel
            .clear

